<div class="text-center row">
    <div id="timer">
        <div id="clock" style="font-family: Inconsolata">
            <span ng-if="timer.hours">
                {{pad(timer.hours)}}:
            </span>
            {{pad(timer.minutes)}}:{{pad(timer.seconds)}}
        </div>
        <div>
            <button ng-click="startTimer()" >Reset Timer</button>
            <button ng-click="resumeTimer()" >Resume Timer</button>
            <button ng-click="stopTimer()">Stop Timer</button>
        </div>
        <div>
            Task #1 Tick
        </div>
        <div>
            Task #2
        </div>
        <div>
            Task #3
        </div>
        <div>
            You haven't added any tasks to complete.
        </div>
    </div>
</div>

<!--<div class="row stat">-->
<!--<div class="col-sm-6 text-right">-->
<!--Round-->
<!--</div>-->
<!--<div class="col-sm-6 text-left">-->
<!--<span class="dividend">2</span><span class="divisor">/4</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row stat">-->
<!--<div class="col-sm-6 text-right">-->
<!--Goal-->
<!--</div>-->
<!--<div class="col-sm-6 text-left">-->
<!--<span class="dividend">2</span><span class="divisor">/17</span>-->
<!--</div>-->
<!--</div>-->




