<div class="text-center row">
    <div id="timer">
        <div id="clock" style="font-family: Inconsolata">
            <timer-with-controls></timer-with-controls>
        </div>
    </div>
</div>
<div id="current-task">
    <div ng-if="activeTasks.activeTasks.length">
        {{activeTasks.activeTasks[0]}}
    </div>
    <div ng-if="!activeTasks.activeTasks.length">
        No tasks.
    </div>
</div>
<div class="pomodoro-stats">
    <div>
        <div>
            {{records.currentRound}}/{{settings.pomodoroRounds}}
        </div>
        <div>
            Current Round
        </div>
    </div>
    <div>
        <div>
            {{records.completedRounds}}/{{settings.pomodoroGoal}}
        </div>
        <div>
            Goal
        </div>
    </div>

</div>

<!--<div class="row stat">-->
<!--<div class="col-sm-6 text-right">-->
<!--Round-->
<!--</div>-->
<!--<div class="col-sm-6 text-left">-->
<!--<span class="dividend">2</span><span class="divisor">/4</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row stat">-->
<!--<div class="col-sm-6 text-right">-->
<!--Goal-->
<!--</div>-->
<!--<div class="col-sm-6 text-left">-->
<!--<span class="dividend">2</span><span class="divisor">/17</span>-->
<!--</div>-->
<!--</div>-->




