<div id="settings" class="container">
    <div class="row">
        <div class="col-md-12" id="help">
            {{helpText}}
        </div>
    </div>
    <div class="row">


        <div class="col-md-12">
            <tabset>
                <tab heading="Pomodoro">
                    <div class="setting">
                        <div class="settings-label">
                            <label for="rounds">Rounds</label>
                        </div>
                        <div class="settings-value">
                            <input id="rounds" ng-model="settings.pomodoroRounds">
                        </div>
                    </div>
                    <div class="setting">
                        <div class="settings-label">
                            <label for="goal">Goal</label>
                        </div>
                        <div class="settings-value">
                            <input id="goal" ng-model="settings.pomodoroGoal">
                        </div>
                    </div>
                    <div class="setting">
                        <div class="settings-label">
                            <label for="short-break">Short Break</label>
                        </div>
                        <div class="settings-value">
                            <input id="short-break" ng-model="settings.pomodoroShortBreak">
                        </div>
                    </div>
                    <div class="setting">
                        <div class="settings-label">
                            <label for="long-break">Long Break</label>
                        </div>
                        <div class="settings-value">
                            <input id="long-break" ng-model="settings.pomodoroLongBreak">
                        </div>
                    </div>
                </tab>
                <tab heading="Tasks">
                    <div class="row task" ng-repeat="task in tasks.active">
                        <div class="col-md-12">
                            <span class="index">{{$index+1}}</span>
                            <span class="title">{{task.title}}</span>
                            <span ng-if="task.project" class="tag">{{task.project}}</span>
                            <span ng-repeat="tag in task.tags" class="tag">{{tag}}</span>
                    <span ng-if="task.source == SOURCES.Asana"><img src="assets/asana-icon.png"
                                                                    class="source asana-source"></span>
                            <span ng-if="task.source == SOURCES.Trello"><img src="assets/trello-icon.png"
                                                                             class="source"></span>
                        </div>
                    </div>
                </tab>
                <tab heading="Asana">
                    <div class="setting">
                        <div class="settings-label">
                            <label for="asana-api-key">API key</label>
                        </div>
                        <div class="settings-value" id="asana-api-key-value">
                            <input id="asana-api-key" ng-model="settings.asanaApiKey" ng-blur="asanaApiBlurred()"
                                   ng-disabled="asana.isLoading">
                        </div>
                        <img class="loading" src="assets/loader.gif" ng-if="asana.isLoading">

                        <div id="profile">
                            <img ng-src="{{asana.user.photo.image_128x128}}" ng-if="asana.user.photo"
                                 class="profile-photo">

                            <div ng-if="asana.user.name" class="name">{{asana.user.name}}</div>
                        </div>
                        <div class="error" ng-if="asana.error">
                            <span class="glyphicon glyphicon-minus-sign"></span> {{asana.error}}
                        </div>
                        <br>

                        <div ng-if="!asana.isLoading && asana.user">
                            <dropdown items="asana.workspaces" value="name"
                                      selected="asana.selectedWorkspace"></dropdown>
                            <!--<dropdown items="asana.projects" value="name" selected="asana.selectedProject" ng-if="!asana.isLoadingProjects"></dropdown>-->
                        </div>

                    </div>
                    <img class="loading" src="assets/loader.gif" ng-if="asana.isLoadingTasks">

                    <div class="row task"
                         ng-repeat="task in asana.tasks"

                    <div class="col-md-12">
                        <div>
                            <span class="index">{{$index+1}}</span>
                            <span class="title">{{task.name}}</span>
                            <span ng-if="task.project" class="tag">{{task.project}}</span>
                            <span ng-repeat="tag in task.tags" class="tag">{{tag.name}}</span>
                            <img class="loading" src="assets/loader.gif" ng-if="task.isLoadingTags">
                        </div>
                    </div>
                </tab>
                <tab heading="Trello">
                    <div class="setting">
                        <div class="settings-label">
                            <label for="trello-api-key">API key</label>
                        </div>
                        <div class="settings-value">
                            <input id="trello-api-key" ng-model="settings.trelloApiKey" ng-blur="trelloApiBlurred()">
                        </div>
                    </div>
                </tab>
            </tabset>



        </div>
    </div>


</div>