

#timer
  #clock
    font-size: 120px
    @extend .numeric


  #current-task
    font-size: 20px


.footer
  position: absolute
  bottom: 0
  text-align: center
  width: 100%
  .footer-inner
    display: inline

.stat
  .stats-text
    font-size: 30px
  .divisor
    @extend .numeric
  .dividend
    font-size: 40px
    font-weight: 700
    @extend .numeric


#buttons
  margin-top: 20px
  .button
    margin-left: 15px
    width: 50px

