.beta-label
  float: left
  margin-top: 17px
  padding: 4px

#get-started
  padding-left: 20px
  padding-right: 20px
  padding-top: 10px
  padding-bottom: 10px

#most-recent
  padding-bottom: 10px

.breakdown
  img
    height: 100%
    width: 100%
    border-radius: 2.799999952316284px 2.799999952316284px 2.799999952316284px 2.799999952316284px


  .title
    text-align: center
    padding: 5px