//@import compass/reset
@import "home"
@import "settings"
@import "colors"

$paragraph-font: 'Museo Slab', sans-serif
$number-font: 'Lato', sans-serif

.navbar
  .nav
    font-size: 14px
    height: 72px
    li
      height: inherit
      display: table
      a
        height: inherit
        display: table-cell
        vertical-align: middle
        color: $primary-color


.numeric
  font-family: $number-font

.generic
  font-family: $paragraph-font


html
  height: 100%

body
  font: 100% $paragraph-font
  font-size: 13px 
  color: $primary-color
  height: 100%
  position: relative
  background-color: $background-color


  #top-line
    width: 100%
    height: 4px
    background-color: $primary-color

.vertically-centered-container
  text-align: center
  display: table
  overflow: auto
  margin: auto
  position: absolute
  width: 70%
  height: 150px
  top: 0
  left: 0
  bottom: 0
  right: 0

  .vertically-centered-inner-container
    display: table-cell
    vertical-align: middle
    text-align: center

#menu
  text-align: center
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  .menu-item
    width: 45px
    margin: 25px
    position: relative
    top: 10px
  #logo
    width: 90px



