#header-timer
  font-family: "Inconsolata"
  margin-top: 10px
  font-size: 16px
  padding-right: 5px
  //position: relative
  //top: 10px
  .play-or-pause-button
    //line-height: 10px
    font-size: 12px
    margin-left: 4px