#settings
  h1
    font-size: 28px
    font-weight: 700

  h2
    font-size: 24px
    font-weight: 700

  input
    border: none
    padding: 10px

  .setting

    .settings-label
      min-width: 90px

    .settings-value
      width: 120px

      input
        width: 100%
        @extend .numeric
        font-size: 16px

    div
      display: inline-block
      padding: 5px