<div id="feedback-detail">
    <div ng-if="feedback">
        <div class="user row">
            <a href ui-sref="profile({Id:feedback.user.id})">
                <img class="profile-photo pull-left" ng-src="{{feedback.user.profile_photo_url}}">

                <div class="username">
                    {{feedback.user.username}}
                </div>
            </a>
        </div>
        <div class="row">
            <h1 id="title">{{feedback.title}}
                <sup ng-if="currentUser.id == feedback.user.id">
                    <a href ui-sref="addFeedback({Id:feedback.id})"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href ng-click="deleteFeedback()"><i class="glyphicon glyphicon-remove"></i></a>
                </sup>
            </h1>
        </div>
        <div id="votes" class="row" ng-if="votes.ready()">
            <div id="num-votes">
                {{votes.numUpVotes - votes.numDownVotes}} votes &nbsp;
            </div>
            <div id="vote-buttons">
                <a href class="glyphicon glyphicon-thumbs-up"
                   ng-class="votes.userUpVoted() ? 'selected' : (votes.userDownVoted() ? 'disabled' : 'deselected')"
                   ng-click="upVote()"></a>
                <a href class="glyphicon glyphicon-thumbs-down"
                   ng-class="votes.userDownVoted() ? 'selected' : (votes.userUpVoted() ? 'disabled' : 'deselected')"
                   ng-click="downVote()"></a>
            </div>
        </div>
        <div class="row" ng-bind-html="feedback.html"></div>
    </div>
    <div ng-if="!feedback">
        Loading...
    </div>
    <div class="comments row">
        <h2>Comments</h2>

        <div class="row" ng-if="currentUser">
            <div class="col-lg-12">
                <div class="input-group">
                    <input placeholder="Your comment"
                           ng-model="comment.message"
                           class="form-control"/>
                    <span class="input-group-btn">
                         <button class=" btn btn-default" ng-click="addComment()" role="button">
                             Comment
                         </button>
                    </span>
                </div>
            </div>
        </div>
        <div ng-if="comments.length">
            <div class="comment" ng-repeat="c in comments">
                <table>
                    <tr>
                        <td rowspan="2"><a href ui-sref="profile({Id:c.user.id})"><img class="profile-photo"
                                                                                       ng-src="{{c.user.profile_photo_url}}"></a>
                        </td>
                        <td class="username"><a href ui-sref="profile({Id:c.user.id})">{{c.user.username}}</a> <span
                                class="date">- {{c.dateStr ? c.dateStr :'just now' }}</span></td>
                        <td class="options"><a ng-if="c.user.id == currentUser.id" href
                                               ng-click="deleteComment($index)"><i
                                class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                    <tr>
                        <td class="message">
                            <span ng-if="c.user.id != currentUser.id">{{c.message}}</span>
                            <span ng-if="c.user.id == currentUser.id" content-editable-directive value="c.message"
                                  on-change="commentChanged" context="c"></span>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="!comments.length">
            No comments yet. Be the first!
        </div>
        <div ng-if="numCommentsRemaining() > 0">
            <a href ng-click="getNextPage()">{{numCommentsRemaining()}} more comments</a>
        </div>
    </div>
</div>
