<div id="profile">
    <div class="alert-danger" role="alert"></div>
    <div id="current-user-profile" ng-if="currentUser || id">
        <div class="row">
            <div class="col-md-3">
                <div ng-show="!dropSupported" class="alert alert-danger alert-dismissible" role="alert"
                     ng-file-drop-available="dropSupported=true">
                    <button type="button"
                            class="close"
                            data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    <strong>Error </strong>HTML5 Drag & Drop is not supported in this browser.
                </div>
                <div class="row">
                    <div ng-file-drop="onFileSelect($files)" ng-if="editable()">
                        <img class="profile-photo" ng-src="{{user.profile_photo_url}}">
                        <input type="file" ng-file-select="onFileSelect($files)" >
                        <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
                    </div>
                    <div ng-if="!editable()">
                        <img class="profile-photo" ng-src="{{user.profile_photo_url}}">
                    </div>
                </div>


                <h3 content-editable-directive
                    id="name"
                    name="name"
                    on-change="nameChanged"
                    value="user.name"
                    editable="editable()">
                    {{value}}
                </h3>
                <h4 content-editable-directive
                    id="username"
                    name="username"
                    on-change="usernameChanged"
                    value="user.username"
                    editable="editable()">
                    {{value}}
                </h4>
                <div>
            <span content-editable-directive
                  id="email"
                  name="email" on-change="emailChanged"
                  value="user.email"
                  editable="editable()"></span>
                </div>
            </div>
            <div class="col-md-9">
                <tabset>
                    <tab heading="Feedback">
                        <div class="table-responsive" ng-if="feedback.length">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Title</th>
                                        <th>Comments</th>
                                        <th>Votes</th>
                                    </tr>
                                    <tr ng-repeat="f in feedback" class="feedback-row">
                                        <td><a href ui-sref="feedbackDetail({Id:f.id})">{{f.title}}</a></td>
                                        <td>{{f.num_comments}}</td>
                                        <td>{{f.num_votes}}</td>
                                    </tr>
                                </table>
                            </div>
                            <pagination direction-links="false"
                                        boundary-links="true"
                                        total-items="feedbackPagination.count"
                                        ng-model="feedbackPagination.currentPage"
                                        num-pages="feedbackPagination.numPages"
                                        ng-change="feedbackPageChanged()" items-per-page="5"
                                        ng-if="feedback"></pagination>
                        </div>

                        <div ng-if="!feedback.length">
                            You haven't given any feedback yet. Please let us know if you have any suggestions or issues
                            by
                            heading <a href ui-sref="feedback">here</a>
                        </div>
                    </tab>
                    <tab heading="Something Else">
                        Hello!
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div ng-if="!(currentUser || id)">
        Not logged in
    </div>
</div>