<div ng-if="feedback.shouldDisplay()">
    <div ng-if="currentUser">
        <input placeholder="Title" tooltip="Enter a quick summary describing your feedback"
               ng-model="feedback.title"
               class="form-control"/>
        <summernote config="summernoteOptions" ng-model="feedback.description"  on-image-upload="imageUpload(files, editor, welEditable);"></summernote>
        <button ng-click="submit()">
            Submit
        </button>
    </div>
    <div ng-if="!currentUser">
        Must be logged in to give feedback.
    </div>
    <div ng-if="error" class="error">
        {{error}}
    </div>
</div>
