<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title ng-bind="pageTitle"></title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description"
          content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:description"
          content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>



<div class="container">
    <div class="navbar" id="navbar">
        <div class="navbar-header">
            <a href ui-sref="home" class="navbar-brand" id="brand">
                app
            </a>

        </div>
        <div class=" pull-right">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href ui-sref="feedback" ng-if="browserSupported">
                        Give Feedback
                    </a>
                    <a href ng-if="!browserSupported">
                        Give Feedback
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="login" ng-if="browserSupported">
                        <div ng-if="currentUser">
                            Logged in as {{currentUser.username}}
                        </div>
                        <div ng-if="!currentUser">
                            Login
                        </div>
                    </a>
                    <a href ng-if="!browserSupported">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="errors">
    <div ng-repeat="e in errors">
        <div class="alert alert-dismissible alert-{{e.typ}}" role="alert">
            <button type="button" class="close" data-dismiss="alert" ng-click="clearError($index)"><span
                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error:</strong> {{e.message}}
        </div>
    </div>
</div>

<div class="container" ui-view="main" id="main" ng-class="loading || majorError ? 'hidden' : ''"
     ng-if="browserSupported"></div>

<div class="container vertically-centered-container" id="not-supported" ng-if="!browserSupported">
    <div class="vertically-centered-inner-container">
        <div class="row">
            <p>
                <img src="assets/cry.jpg">
            </p>
        </div>
        <div class="row">
            <p>
                You're using <b><span ng-if="browserName">{{browserName}}</span> <span
                    ng-if="browserVersion">{{browserVersion}}</span></b> which is not yet supported.
            </p>

        </div>
        <div class="row">
            <p>
                Currently supported browsers are detailed below:
            </p>
        </div>
        <div class="row">
            <table class="table" style="width: 200px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <tr>
                    <th style="text-align: center">Browser</th>
                    <th style="text-align: center">Version (>=)</th>
                </tr>
                <tr ng-repeat="(browser, version) in supportedBrowsers">
                    <td style="text-align: center">
                        {{browser}}
                    </td>
                    <td style="text-align: center">
                        {{version}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container vertically-centered-container" ng-class="!loading ? 'hidden' : ''">
    <div class="vertically-centered-inner-container">
        <img id="main-loading" src="assets/loadingGif.gif">
    </div>
</div>

<div class="container vertically-centered-container" ng-class="!majorError ? 'hidden' : ''">
    <div class="vertically-centered-inner-container">
        <img id="major-error" src="assets/err.png">

        <div>{{majorError.message}}</div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="footer-inner">

        </div>
    </div>
</footer>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51484631-1', 'mtford.co.uk');
    ga('send', 'pageview');


</script>
</body>
</html>
