<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description"
          content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:description"
          content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>

<div id="top-line">

</div>

<div id="menu">
    <a href ui-sref="settings">
        <img src="assets/gear.png" class="menu-item" id="settings-menu-item">
    </a>
    <a href ui-sref="home">
        <img src="assets/logo.png" id="logo">
    </a>
    <a href ui-sref="stats">
        <img src="assets/graph.png" class="menu-item" id="graphs-menu-item">
    </a>
</div>

<div ui-view="main" id="main">


</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51484631-1', 'mtford.co.uk');
    ga('send', 'pageview');


</script>
</body>
</html>
