<!doctype html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <title update-title></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
<div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a href ng-click="toggleSidebar()" style="cursor:pointer;">
                    Pomodoro
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href ui-sref="home">Timer <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a href ui-sref="tasks">Tasks <span class="menu-icon fa fa-tasks"></span></a>
            </li>
            <li class="sidebar-list">
                <a href ui-sref="stats">Stats <span class="menu-icon fa fa-bar-chart-o "></span></a>
            </li>
            <li class="sidebar-list">
                <a href ui-sref="settings">Settings <span class="menu-icon fa fa-cogs"></span></a>
            </li>

        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href ui-sref="about">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href ui-sref="support">
                    Support
                </a>
            </div>
        </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->

            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta pull-left">
                        <div class="page" update-title>
                        </div>
                        <div class="breadcrumb-links" update-title>
                        </div>

                    </div>
                    <div class="user pull-right">
                        <div class="item">
                            <timer-with-controls id="header-timer"></timer-with-controls>
                        </div>
                        <div class="item dropdown">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Header Bar -->

            <!-- Main Content -->


            <div ui-view="main" id="main">


            </div>


            <!-- End Main Content -->

        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
</body>
</html>